@{
    ViewData["Title"] = "Blank";
}


<div class="text-center">
    <h1 class="display-4">@testmvc_vue.Data.Utils.GetTranslation("welcome")</h1>

    
    <p>@testmvc_vue.Data.Utils.GetTranslation("lorem_ipsum1")</p>
    <p>@testmvc_vue.Data.Utils.GetTranslation("lorem_ipsum2")</p>
    <p>@testmvc_vue.Data.Utils.GetTranslation("lorem_ipsum3")</p>
    <p>@testmvc_vue.Data.Utils.GetTranslation("lorem_ipsum4")</p>
    <p>@testmvc_vue.Data.Utils.GetTranslation("lorem_ipsum5")</p>

</div>