@model IEnumerable<testmvc_vue.Models.Table_B>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Col1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Col2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Col3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Col4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Col1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Col2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Col3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Col4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.table_BID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.table_BID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.table_BID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
